/*Pagina criada para estilizar as divs criadas em HTML.*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Prata&display=swap');



body{
    height: 100vh;
    box-sizing: border-box;
    background-color: white;

}

#faixaMenu{
    background-color:#617946;
    padding:5px;
    margin:0px;
    height: 35px;
    margin-top: -20px;
    
}

#menuItem ul{
    margin: 0;
    padding: 0;
    float: left;
    background-color: #617946;
    list-style: none;
    padding: 2px;
    width: 98%;

}

#menuItem ul li{
    box-sizing: border-box;
    display: inline;
    background-color: #617946;
    padding:5px;
    margin:10px;
    list-style:none;
    font-family: "Cinzel", serif;
    color: white;
    display: inline-block;
   
            
}
#menuItem_itens{  
    border-bottom:2px solid white;
    text-decoration: none;
    color: white;
    

}

#menuItem_itens:hover {
    background-color:#d9e4e3;
    color: #8d9485;
    border-bottom:3px solid white;
   }

.tituloDoSite{ 
    align-content: center;
    color: #D97171;
    font-size: 50px;   
    font-family: "Prata", serif;
   
}   

#arranjos ul li{
    
    display: inline;
    background-color: #617946;
    padding:2px;
    margin:50px;
    list-style:none;
    font-family: "Prata", serif;
    color: white;
    display: inline-block;
   
            
}

#faixaFlores{
    background-color:#617946;
    padding:0px;
    margin:0px;
    height: 35px;
}

#rodape{
    background-color: #617946;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Prata", serif;
    font-size: small;
    
    
}

#descricaoArranjos{
    font-family: "Prata", serif;
    align-content: right;
    font-size: small;
    
}

#posicaoDaImagemArranjo{
    
    img{
        float: left;
    }

    p{
        float: right;
    }
    
}

.descricaoArranjo{
    font-family: "Prata", serif;
    font-size: 15px;
    

}

.precoParcela{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    

}

.tituloArranjo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    

}

.botaAddLista{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #617946;
    color: white;
    padding: 10px;
    margin-left: 250px;
    margin-top: 20px;

}

#corpoPaginaInicial{
    font-family: "Prata", serif;
    color: black;
    margin-top: 190px;

}

#corpoIndex{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#missao{
    padding-left: 50px;
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.corpoDaPagina{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}